* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
  letter-spacing: 1.2px;
  font-size: 1.1rem;
  /* border: 2px solid tomato; */
}

body {
  display: grid;
  grid-template: 1fr / 1fr 5.5fr;
  height: 100vh;
  background: url(./imgs/blue-mug-with-coffee.jpg);
  background-size: cover;
  background-position: center center;
}

body > div {
  justify-self: flex-start;
  align-self: flex-start;
  display: block;
  margin: 1rem;
  transform: rotate(90deg);
  cursor: pointer;
}

body > div:hover > img {
  background-color: rgba(226, 172, 36, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.5);
}

nav {
  display: none;
  flex-direction: column;
  justify-content: flex-start;
  gap: 2rem;
  background-color: rgba(0, 150, 187, 0.9);
  box-shadow: 2px 2px 5px #888888;
  animation: slideIn 800ms ease-in-out 0s 1 forwards;
}

@keyframes slideIn {
  0% {
    width: 0;
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    width: 100%;
  }
}

@keyframes slideOut {
  from {
    opacity: 1;
    width: 100%;
  }
  to {
    opacity: 0;
    width: 0;
  }
}

.animateOut {
  animation: slideOut 200ms ease-in 0s 1 forwards;
}

nav > section:first-child {
  display: flex;
  justify-content: center;
  padding: 0.5rem 0;
}

nav > section:first-child > div {
  justify-content: center;
}

nav > section:first-child span {
  font-size: 1.5rem;
  font-weight: 600;
}

nav > section:first-child img,
body > div > img {
  width: 2rem;
  background-color: rgb(226, 172, 36);
  border-radius: 10px;
  padding: 0.2rem;
}

.sec-section div img,
.last-section div img {
  border-radius: 10px;
}

.sec-section div,
.last-section div {
  width: fit-content;
  margin: 0 1rem;
  border-radius: 50px;
}

nav div {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem 0.7rem;
}

nav img,
nav span {
  cursor: pointer;
}

nav img {
  width: 1.5rem;
}

h6 {
  font-size: 0.8rem;
  font-weight: 800;
  padding-left: 0.7rem;
  padding-bottom: 0.2rem;
  cursor: context-menu;
  color: rgb(226, 172, 36);
}

main {
  grid-row: 1 / 2;
  grid-column: 2 / 3;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-right: 10%;
}

h1 {
  margin-top: 5rem;
  font-size: 3rem;
  padding: 0.2rem;
  border-radius: 20px;
  box-shadow: 0 0 10px 5px #6b6b6b;
  background-color: rgba(0, 150, 187, 0.4);
  color: rgb(226, 172, 36);
  cursor: context-menu;
}

@media (max-width: 1300px) {
  h1 {
    font-size: 2.5rem;
  }
}

@media (max-width: 900px) {
  h1 {
    font-size: 2.2rem;
  }
}

@media (max-width: 600px) {
  h1 {
    font-size: 2rem;
  }
}
